.bleu{
    height: 110px;
    width: 110px;
    background-color:#000080;
}


.rouge{
    height: 110px;
    width: 110px;
    background-color:#80002b;
}

#contain{
    display: flex;
    justify-content: center;
    align-items: center;
}